:root {
background-color: rgb(135, 206, 235);
}
/* .first-p{
 background-color: black;
    color: white;
} */
page {
    background-color: var(--background-color);
    padding: 20px;
}

article {
   
}

article :first-child {
    background-color: black;
    color: white;
}

article :nth-child(2) {
    background-color: transparent;
    color: normal;
}

article :nth-child(3) {
    background-color: transparent;
    color: normal;
}

article :last-child {
    background-color: normal;
    color: red;
}

ul {
    list-style: pointer;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: gray;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

ul li:nth-child(odd) {
    background-color: white;
}

ul li:first-child, ul li:last-child {
    font-size: 22px;
}

ul li:nth-child(3) {
    background-color: pink;
}